<%- include("../partials/head") %>

    <body>
        <%- include("../partials/header2") %>

            <!-- *****************************INICIO MAIN****************************************** -->

            <main class="main-admin">
                <h3 class="all-product-title" >Botas</h3>
                    <div class="productos-admin">                       
                      
                            <% products.forEach(product=> { %> 
                                
                                
                                <% if (product.categorias.name === "Botas") { %>
                                 
                                    <section class="section-destacados-admin">
                                    
                                            <% product.fotos.forEach(foto => { %>
                                                <img src="../../img/products/<%= foto.name %>" alt="bota">
                                             
                                            <% }) %>
                                            
                                            <p><strong>Nombre:</strong> <%= product.name %></p>
                                            <p><strong>Precio:</strong> $<%= product.price %></p>
                                            <div class="product-edit">
                                                <form action="/admin/productos/editar/<%= product.id %>" method="get" >
                                                    <button type="submt" name="editar" id="editar" class="admin-but"><p>EDITAR</p></button>                                                                  
                                                </form>
                                            <form action="/admin/productos/delete/<%= product.id %>?_method=DELETE" method="POST" >
                                                <button type="submt" name="delete" id="delete" class="admin-but"><p>BORRAR</p></button>                                                                  
                                            </form>
                                        </div>
                                      
                                    </section> 
                                    <% } %>
                            <% }) %>
                     
                    </div>
                    <h3 class="all-product-title" >Borcegos</h3>
                    <div class="productos-admin">                       
                      
                            <% products.forEach(product=> { %> 
                                
                                
                                <% if (product.categorias.name === "Borcegos") { %>
                                 
                                    <section class="section-destacados-admin">
                                    
                                            <% product.fotos.forEach(foto => { %>
                                                <img src="../../img/products/<%= foto.name %>" alt="bota">
                                             
                                            <% }) %>
                                            
                                            <p><strong>Nombre:</strong> <%= product.name %></p>
                                            <p><strong>Precio:</strong> $<%= product.price %></p>
                                            <div class="product-edit">
                                                <form action="/admin/productos/editar/<%= product.id %>" method="get" >
                                                    <button type="submt" name="editar" id="editar" class="admin-but"><p>EDITAR</p></button>                                                                  
                                                </form>
                                            <form action="/admin/productos/delete/<%= product.id %>?_method=DELETE" method="POST" >
                                                <button type="submt" name="delete" id="delete" class="admin-but"><p>BORRAR</p></button>                                                                  
                                            </form>
                                        </div>
                                      
                                    </section> 
                                    <% } %>
                            <% }) %>
                     
                    </div>
                
                    
                    
                                        <div class="news-letter">
                                            <h2>Suscribite a nuestro newsletter</h2>
                                            <form>
                                                <input type="email" placeholder="Ingresa tu e-mail">
                                                <button><i class="fa-solid fa-arrow-right"></i></button>
                                            </form>

                                        </div>

                                        <div class="help-button">
                                            <button><i class="fa-solid fa-circle-question"></i> Ayuda</button>
                                        </div>

            </main>

            <!-- ********************************FIN MAIN***************************************** -->
            <%- include("../partials/footer") %>
    </body>

    </html>