<%- include("../partials/head") %>

    <body>
        <%- include("../partials/header2") %>
        <header>

            <h1 class="crear-title">Crear nuevo producto</h1>

        </header>

        <main class="main-register">


            <form action="/admin/productos/crear" method="POST" class="form-create" enctype="multipart/form-data">

                <div class="form-create__nombre">
                    <label for="nombre">Nombre del producto *</label>
                    <input  type="text" name="nombre" id="nombre" placeholder="Nombre del nuevo producto" value="<%= locals.old && old.nombre ? old.nombre : ""%>"  >
                        <% if (locals.errors && errors.nombre) {%>
                            <div class="text-aviso"><%= errors.nombre.msg %></div>
                        <%}%>
                </div>
                <div class="form-create__descr">
                    <h3>Descripcion del producto*</h3>
                    <div class="div-desc">
                        <label for="material"> Material</label>
                        <input value="<%= locals.old && old.material ? old.material: ""%>"  type="text" name="material">
                    </div>
                    <div class="div-desc">
                        <label for="base"> Altura de la base</label>
                        <input value="<%= locals.old && old.base ? old.base: ""%>" type="text" name="base">
                    </div>
                    <div class="div-desc">
                        <label for="taco">Altura del taco</label>
                        <input value="<%= locals.old && old.taco ? old.taco: ""%>" type="text" name="taco">
                    </div>

                    <div class="div-desc">
                        <label for="cana">Altura de la caña</label>
                        <input value="<%= locals.old && old.cana ? old.cana: ""%>" type="text" name="cana">
                    </div>

                    <div class="div-desc">
                        <label for="colores">Colores</label>
                        <input value="<%= locals.old && old.colores ? old.colores: ""%>" type="text" name="colores">
                    </div>


                </div>

                <script src="/previewPhotoCreateProduct.js"></script>
                <div class="form-create__img">
                    <label for="photo">Seleccione la foto </label>
                   
                        <input type="file" name="photo" accept=".jpg,.jpeg"  id="file">    
                   
                    </div>
                          <% if (locals.errors && errors.photo) {%>
                              <div class="text-aviso"><%= errors.photo.msg %></div>
                          <%}%>
                     

                        <div id="preview"></div>
                    
                        <script>
                            document.getElementById("file").onchange = function(e) {
	                        let reader = new FileReader();

                          reader.onload = function(){
                        let preview = document.getElementById('preview'),
    		            image = document.createElement('img');

                        image.src = reader.result;
    
                        preview.innerHTML = '';
                        preview.append(image);
                                                };
 
                        reader.readAsDataURL(e.target.files[0]);
}    
                        </script>
                
                
                <div class="form-create__price">
                    <label for="price">Precio *</label><br>
                    <input type="number" name="price" id="price" placeholder=" Introduzca el precio" value="<%= locals.old && old.price ? old.price: ""%>"
                        >
                        <% if (locals.errors && errors.price) {%>
                            <div class="text-aviso"><%= errors.price.msg %></div>
                        <%}%>
                </div>
                <div class="form-create__color">
                    <div class="form-create__size__title__div">
                        <label class="form-create__size__title" for="talles">Seleccione el color</label>
                    </div>
                    
                    <label class="form-create__color__check" for="negro">
                        <input type="checkbox" name="color" id="negro" value="Negro" <%= locals.old && old.color[0] == "Negro" ? "checked": ""%>">
                        Negro
                    </label>
                    <label class="form-create__color__check" for="rojo">
                        <input type="checkbox" name="color" id="rojo" value="Rojo">
                        Rojo
                    </label>
                    <label class="form-create__color__check" for="crema">
                        <input type="checkbox" name="color" id="crema" value="Crema">
                        Crema
                    </label>
                    <label class="form-create__color__check" for="blanco">
                        <input type="checkbox" name="color" id="blanco" value="Blanco">
                        Blanco
                    </label>
                    <label class="form-create__color__check" for="rosa">
                        <input type="checkbox" name="color" id="rosa" value="Rosa">
                        Rosa
                    </label>
                    <div>
                        <% if (locals.errors && errors.color) {%>
                            <div class="text-aviso"><%= errors.color.msg %></div>
                        <%}%>
                    </div>
                   
                </div>

                <div class="form-create__cat">
                    <div class="form-create__cat-div">
                        <label for="category">Selecciona la categoria</label>
                    </div>
                    <div class="form-create__cat__div-input">
                        <select name="category" id="categoria" >
                            <option value="" disabled selected >Seleccione</option>
                            <option value="Botas">Botas</option>
                            <option value="Borcegos">Borcegos</option>
                            <option value="Texanas">Texanas</option>
                            <option value="Guillerminas">Guillerminas</option>
                            <option value="Bucaneras">Bucaneras</option>
                            <option value="Gift Card">Gift Card</option>
                        </select>
                        <% if (locals.errors && errors.category) {%>
                            <div class="text-aviso2"><%= errors.category.msg %></div>
                        <%}%>

                    </div>

                </div>

                <div class="form-create__size">
                    <div class="form-create__size__title__div">
                        <label class="form-create__size__title" for="talles">Seleccione los talles</label>
                    </div>

                    <label class="form-create__size__check" for="35">
                        <input type="checkbox" name="size" id="35" value="35">
                        35
                    </label>
                    <label class="form-create__size__check" for="36">
                        <input type="checkbox" name="size" id="36" value="36">
                        36
                    </label>
                    <label class="form-create__size__check" for="37">
                        <input type="checkbox" name="size" id="37" value="37">
                        37
                    </label>
                    <label class="form-create__size__check" for="38">
                        <input type="checkbox" name="size" id="38" value="38">
                        38
                    </label>
                    <label class="form-create__size__check" for="39">
                        <input type="checkbox" name="size" id="39" value="39">
                        39
                    </label>
                    <label class="form-create__size__check" for="40">
                        <input type="checkbox" name="size" id="40" value="40">
                        40
                    </label>
                </div>
                <div>
                    <% if (locals.errors && errors.size) {%>
                        <div class="text-aviso"><%= errors.size.msg %></div>
                    <%}%>
                </div>
                <div class="contenedor_button">
                    <button class="form__button" type="delete">Borrar</button>
                    <button class="form__button" type="submit">Enviar</button>

                </div>
            </form>


        </main>

          <%- include("../partials/footer") %>
    </body>

    </html>