<%- include("../partials/head") %>

    <body>
        <%- include("../partials/header2") %>
        <header>

            <h1 class="crear-title">Crear nuevo producto</h1>

        </header>

        <main class="main-register">


            <form action="/admin/productos/crear" method="POST" class="form-create" enctype="multipart/form-data">

                <div class="form-create__nombre">
                    <label for="nombre">Nombre y color *</label>
                    <input  type="text" name="nombre" id="nombre" placeholder="Nombre del nuevo producto" value="<%= locals.old && old.nombre ? old.nombre : ""%>"  >
                        <% if (locals.errors && errors.nombre) {%>
                            <div class="text-aviso"><%= errors.nombre.msg %></div>
                        <%}%>
                </div>
                <div class="form-create__descr">
                    <label for="description">Descripcion del producto*</label>
                    <textarea name="description"  cols="1" rows="1"><%= locals.old && old.description ? old.description : "" %></textarea>
                    <% if (locals.errors && errors.description) { %>
                        <p class="form-contact__error">
                            <div class="text-aviso"><%= errors.description.msg %></div>
                        </p>
                        <% } %>

                </div>

                
                <div class="form-create__img">
                    <label for="photo">Seleccione la foto </label>
                   
                        <input type="file" name="img" accept=".jpg,.jpeg"  id="file" >    
                   
                    </div>
                          <% if (locals.errors && errors.img) {%>
                              <div class="text-aviso"><%= errors.img.msg %></div>
                          <%}%>
                     

                        <div id="preview"></div>
                    
                        <script>
                            document.getElementById("file").onchange = function(e) {
	                        let reader = new FileReader();

                          reader.onload = function(){
                        let preview = document.getElementById('preview'),
    		            image = document.createElement('img');

                        image.src = reader.result;
    
                        preview.innerHTML = '';
                        preview.append(image);
                                                };
 
                        reader.readAsDataURL(e.target.files[0]);
}    
                        </script>
                
                
                <div class="form-create__price">
                    <label for="price">Precio *</label><br>
                    <input type="number" name="price" id="price" placeholder=" Introduzca el precio" value="<%= locals.old && old.price ? old.price: ""%>"
                        >
                        <% if (locals.errors && errors.price) {%>
                            <div class="text-aviso"><%= errors.price.msg %></div>
                        <%}%>
                </div>
                

                <div class="form-create__cat">
                    <div class="form-create__cat-div">
                        <label for="category">Selecciona la categoria</label>
                    </div>
                    <div class="form-create__cat__div-input">
                        <select name="category" id="category" >

                            <option value="" disabled selected>Seleccione</option>
                            <% categories.forEach(categoria=> { %>
                                <option <%= locals.old && old.category == categoria.id ? "selected" : "" %> value="<%= categoria.id %>" >
                                        <%= categoria.name %>
                                </option>
                                <% }) %>

                        </select>
                        <% if (locals.errors && errors.category) {%>
                            <div class="text-aviso2"><%= errors.category.msg %></div>
                        <%}%>

                    </div>

                </div>
                <div class="form-create__nombre">
                    <label for="color">Color del producto *</label>
                    <input  type="text" name="color" id="color" placeholder="Nombre del nuevo producto" value="<%= locals.old && old.color ? old.color : ""%>"  >
                        <% if (locals.errors && errors.color) {%>
                            <div class="text-aviso"><%= errors.color.msg %></div>
                        <%}%>
                </div>
                
                
                   
                </div>
                <div class="contenedor_button">
                    <button class="form__button" type="delete">Borrar</button>
                    <button class="form__button" type="submit">Enviar</button>

                </div>
            </form>


        </main>

          <%- include("../partials/footer") %>
    </body>

    </html>