<%- include("../partials/head") %>

    <body>
        <%- include("../partials/header2") %>
        <header>

            <h1 class="crear-title">Crear nuevo producto</h1>

        </header>

        <main class="main-register">


            <form action="/admin/productos/crear" method="POST" class="form-create" enctype="multipart/form-data">

                <div class="form-create__nombre">
                    <label for="nombre">Nombre del producto *</label>
                    <input  type="text" name="nombre" id="nombre" placeholder="Nombre del nuevo producto" value="<%= locals.old && old.nombre ? old.nombre : ""%>"  >
                        <% if (locals.errors && errors.nombre) {%>
                            <div class="text-aviso"><%= errors.nombre.msg %></div>
                        <%}%>
                </div>
                <div class="form-create__descr">
                    <h3>Descripcion del producto*</h3>
                    <div class="div-desc">
                        <label for="material"> Material</label>
                        <input value="<%= locals.old && old.material ? old.material: ""%>"  type="text" name="material">
                    </div>
                    <div class="div-desc">
                        <label for="base"> Altura de la base</label>
                        <input value="<%= locals.old && old.base ? old.base: ""%>" type="text" name="base">
                    </div>
                    <div class="div-desc">
                        <label for="taco">Altura del taco</label>
                        <input value="<%= locals.old && old.taco ? old.taco: ""%>" type="text" name="taco">
                    </div>

                    <div class="div-desc">
                        <label for="cana">Altura de la caña</label>
                        <input value="<%= locals.old && old.cana ? old.cana: ""%>" type="text" name="cana">
                    </div>

                    <div class="div-desc">
                        <label for="colores">Colores</label>
                        <input value="<%= locals.old && old.colores ? old.colores: ""%>" type="text" name="colores">
                    </div>


                </div>

                <script src="/previewPhotoCreateProduct.js"></script>
                <div class="form-create__img">
                    <label for="photo">Seleccione la foto </label>
                   
                        <input type="file" name="img" accept=".jpg,.jpeg"  id="file">    
                   
                    </div>
                          <% if (locals.errors && errors.img) {%>
                              <div class="text-aviso"><%= errors.img.msg %></div>
                          <%}%>
                     

                        <div id="preview"></div>
                    
                        <script>
                            document.getElementById("file").onchange = function(e) {
	                        let reader = new FileReader();

                          reader.onload = function(){
                        let preview = document.getElementById('preview'),
    		            image = document.createElement('img');

                        image.src = reader.result;
    
                        preview.innerHTML = '';
                        preview.append(image);
                                                };
 
                        reader.readAsDataURL(e.target.files[0]);
}    
                        </script>
                
                
                <div class="form-create__price">
                    <label for="price">Precio *</label><br>
                    <input type="number" name="price" id="price" placeholder=" Introduzca el precio" value="<%= locals.old && old.price ? old.price: ""%>"
                        >
                        <% if (locals.errors && errors.price) {%>
                            <div class="text-aviso"><%= errors.price.msg %></div>
                        <%}%>
                </div>
                <div class="form-create__color">
                    <div class="form-create__size__title__div">
                        <label class="form-create__size__title" for="talles">Seleccione los Colores</label>
                    </div>
                    <% colores.forEach(color=> { %>
                        <label class="form-create__size__check" for="<%= color %> ">
                            <input <%= locals.old && old.color && old.color.includes(color) ? "checked" : "" %>
                            type="checkbox" name="color" id="<%= color %>" value="<%= color %>">
                                    <%= color %>
                        </label>
                        <% }) %>
                        <% if (locals.errors && errors.color) {%>
                            <div class="text-aviso2"><%= errors.color.msg %></div>
                        <%}%>
                </div>

                <div class="form-create__cat">
                    <div class="form-create__cat-div">
                        <label for="category">Selecciona la categoria</label>
                    </div>
                    <div class="form-create__cat__div-input">
                        <select name="category" id="categoria" >

                            <option value="" disabled selected>Seleccione</option>
                            <% categories.forEach(element=> { %>
                                <option <%= locals.old && old.category == element ? "selected" : "" %> value="<%= element %>" >
                                        <%= element %>
                                </option>
                                <% }) %>

                        </select>
                        <% if (locals.errors && errors.category) {%>
                            <div class="text-aviso2"><%= errors.category.msg %></div>
                        <%}%>

                    </div>

                </div>
                
                <div class="form-create__size">

                    <div class="form-create__size__title__div">
                        <label class="form-create__size__title" for="talles">Seleccione los talles</label>
                    </div>
                    <% sizes.forEach(size=> { %>

                        <label class="form-create__size__check" for="<%= size %> ">
                            <input <%= locals.old && old.size && old.size.includes(size) ? "checked" : " " %>
                            type="checkbox" name="size" id="<%= size %>" value="<%= size %>">
                                    <%= size %>
                        </label>
                        <% }) %>


                </div>
                <div>
                    <% if (locals.errors && errors.size) {%>
                        <div class="text-aviso"><%= errors.size.msg %></div>
                    <%}%>
                </div>
                <div class="contenedor_button">
                    <button class="form__button" type="delete">Borrar</button>
                    <button class="form__button" type="submit">Enviar</button>

                </div>
            </form>


        </main>

          <%- include("../partials/footer") %>
    </body>

    </html>