<%- include("../partials/head") %>

    <body>
        <%- include("../partials/header2") %>
            <main class="main-register">

                <form action="/admin/productos/editar/<%=producto.id%>?_method=PUT" method="post" class="form-create"
                    enctype="multipart/form-data">
                    <div>
                        <h1 class="crear-title">
                            <%= producto.name %>
                        </h1>
                        <img class="img-edit-product" src="../../../img/products/<%= producto.image %>"
                            alt="<%= producto.image %>">
                    </div>
                    <div class="form-create__nombre">
                        <label for="nombre">Nombre y color *</label>
                        <input type="text" name="name" id="nombre" placeholder="Nombre del nuevo producto" required
                            value="<%= producto.name %>">
                    </div>
                    <div class="form-create__descr">
                        <label for="description">Descripcion del producto*</label>
                        <textarea name="description" id="description" cols="30"
                            rows="10"> <%= producto.description %> </textarea>
                    </div>

                    <div class="form-create__img">
                        <label for="photo">Seleccione la foto
                            <div class="file-select"><input type="file" name="img" accept=".jpg,.jpeg" id="file"></div>
                        </label>
                        <div id="preview"></div>

                        <script>
                            document.getElementById("file").onchange = function (e) {
                                let reader = new FileReader();

                                reader.onload = function () {
                                    let preview = document.getElementById('preview'),
                                        image = document.createElement('img');

                                    image.src = reader.result;

                                    preview.innerHTML = '';
                                    preview.append(image);
                                };

                                reader.readAsDataURL(e.target.files[0]);
                            }    
                        </script>

                    </div>
                    <div class="form-create__price">
                        <label for="price">Precio *</label><br>
                        <input type="number" name="price" value="<%= producto.price %>">
                    </div>
                    <div class="form-create__price">
                        <label for="color">Color *</label><br>
                        <input type="text" name="color" value="<%= producto.color %>">
                    </div>

                    <div class="form-create__cat">
                        <div class="form-create__cat-div">
                            <label for="status">Selecciona el estado</label>
                        </div>
                        <div class="form-create__cat__div-input">
                            <select name="status" id="status">
                                <option value="" disabled>Seleccione</option>
                                <option <%=producto.status=="Enabled" ? "selected" : "" %> value="Enabled" >
                                    Activo
                                </option>
                                <option <%=producto.status=="Disabled" ? "selected" : "" %> value="Disabled" >
                                    Inactivo
                                </option>

                            </select>


                        </div>

                    </div>

                    <div class="form-create__cat">
                        <div class="form-create__cat-div">
                            <label for="category">Selecciona la categoria</label>
                        </div>
                        <div class="form-create__cat__div-input">
                            <select name="category" id="categoria" required>


                                <option value="" disabled>Seleccione</option>


                                <% categories.forEach(element=> { %>

                                    <option <%=producto.categorias.name==element.name ? "selected" : "" %> value="<%=
                                            element.id %>" >
                                            <%= element.name %>
                                    </option>
                                    <% }) %>

                            </select>


                        </div>

                    </div>



                    <div class="contenedor_button">


                        <button type="submit" class="form__button">Editar Producto</button>

                    </div>
                </form>


            </main>

            <%- include("../partials/footer") %>
    </body>

    </html>