<%- include("../partials/head") %>

    <body>
        <%- include("../partials/header2") %>
            <main class="main-register">

                <form action="/admin/productos/editar/<%=producto.id%>?_method=PUT" method="post" class="form-create"
                    enctype="multipart/form-data">
                    <div>
                        <h1 class="crear-title">
                            <%= producto.name %>
                        </h1>
                        <img class="img-edit-product" src="../../../img/products/<%= producto.image %>"
                            alt="<%= producto.image %>">
                    </div>
                    <div class="form-create__nombre">
                        <label class="label-relative" for="nombre">Nombre y color *
                            <i class="iconoNombre-edit-prod-OK" id="iconoEditNombreOK"></i>
                            <i class="iconoNombre-edit-prod-X" id="iconoEditNombreX"></i>
                        </label>
                        <input type="text" name="name" id="nombre-edit-prod" placeholder="Nombre del nuevo producto"
                            required value="<%= producto.name %>">
                    </div>
                    <ul>
                        <li class="none" id="liErrorNombreEditProd1">Debe introducir un nombre para el producto</li>
                        <li class="none" id="liErrorNombreEditProd2">Debe tener al menos 5 caracteres</li>
                    </ul>
                    <div class="form-create__descr">
                        <label class="label-relative" for="description">Descripcion del producto*
                            <i class="iconoDescripcion-edit-prod-OK" id="iconoEditDescripcionOK"></i>
                            <i class="iconoDescripcion-edit-prod-X" id="iconoEditDescripcionX"></i>
                        </label>
                        <textarea name="description" id="descriptionEditProd" cols="30"
                            rows="10"> <%= producto.description %> </textarea>
                    </div>
                    <ul>
                        <li class="none" id="liErrorDescripcionEditProd1">Debe introducir una descripcion para el
                            producto
                        </li>
                        <li class="none" id="liErrorDescripcionEditProd2">Debe tener al menos 20 caracteres</li>

                    </ul>

                    <div class="form-create__img">
                        <label class="label-relative"  for="photo">Seleccione la foto
                            <div class="file-select"><input type="file" name="img" accept=".jpg,.jpeg" id="img-edit-prod"></div>
                        </label>
                        <ul>
                            <li class="none" id="liErrorimgEditProd1">Debe introducir una imagen</li>

                        </ul>
                        <div id="preview"></div>

                        <script>
                            document.getElementById("file").onchange = function (e) {
                                let reader = new FileReader();

                                reader.onload = function () {
                                    let preview = document.getElementById('preview'),
                                        image = document.createElement('img');

                                    image.src = reader.result;

                                    preview.innerHTML = '';
                                    preview.append(image);
                                };

                                reader.readAsDataURL(e.target.files[0]);
                            }    
                        </script>

                    </div>

                    <div class="form-create__price">
                        <label class="label-relative" for="price">Precio *
                            <i class="iconoPrecio-edit-prod-OK" id="iconoEditPrecioOK"></i>
                            <i class="iconoPrecio-edit-prod-X" id="iconoEditPrecioX"></i>
                        </label><br>
                        <input type="number" name="price" id="priceEditProd" value="<%= producto.price %>">
                    </div>
                    <ul>
                        <li class="none" id="liErrorPrecioEditProd1">Debe introducir un precio para el producto</li>

                    </ul>
                    <div class="form-create__price">
                        <label class="label-relative" for="color">Color *
                            <i class="iconoColor-edit-prod-OK" id="iconoEditColorOK"></i>
                            <i class="iconoColor-edit-prod-X" id="iconoEditColorX"></i>
                        </label><br>
                        <input type="text" id="color-edit-prod" name="color" value="<%= producto.color %>">
                    </div>
                    <ul>
                        <li class="none" id="liErrorEditColorProd1">Debe introducir un color para el producto</li>
                        <li class="none" id="liErrorEditColorProd2">Debe tener al menos 3 caracteres</li>


                    </ul>

                    <div class="form-create__cat">
                        <div class="form-create__cat-div">
                            <label for="status">Selecciona el estado</label>
                        </div>
                        <div class="form-create__cat__div-input">
                            <select name="status" id="status">
                                <option value="" disabled>Seleccione</option>
                                <option <%=producto.status=="Enabled" ? "selected" : "" %> value="Enabled" >
                                    Activo
                                </option>
                                <option <%=producto.status=="Disabled" ? "selected" : "" %> value="Disabled" >
                                    Inactivo
                                </option>

                            </select>


                        </div>

                    </div>

                    <div class="form-create__cat">
                        <div class="form-create__cat-div">
                            <label for="category">Selecciona la categoria</label>
                        </div>
                        <div class="form-create__cat__div-input">
                            <select name="category" id="category-edit-prod" required>


                                <option value="" disabled>Seleccione</option>


                                <% categories.forEach(element=> { %>

                                    <option <%=producto.categorias.name==element.name ? "selected" : "" %> value="<%=
                                            element.id %>" >
                                            <%= element.name %>
                                    </option>
                                    <% }) %>

                            </select>


                        </div>
                        <ul>
                            <li class="none" id="liErrorCategoriaEditProd1">Debe elegir una categoria para el producto
                            </li>

                        </ul>

                    </div>



                    <div class="contenedor_button">


                        <button type="submit" class="form__button">Editar Producto</button>



                    </div>
                </form>


            </main>

            <%- include("../partials/footer") %>
                <script src="/js/editarProductos.js"></script>
                <script>
                    ClassicEditor
                        .create( document.querySelector( '#descriptionEditProd' ) )
                        .catch( error => {
                            console.error( error );
                        } );
                </script>
    </body>

    </html>