<%- include("../partials/head") %>

    <body>
        <%- include("../partials/header2") %>

            <!-- *****************************INICIO MAIN****************************************** -->

            <main class="main-admin">
                <% let cantidadInactivos = 0 %>
                <% users.forEach(usuario=> { %>
                    <% if (usuario.status === "Inactivo") { %>
                        <% cantidadInactivos = cantidadInactivos + 1 %>        
                    <% } %>
                <% }) %>
                <h3 class="all-product-title">Usuarios Registrados Inactivos (<%= cantidadInactivos %>)</h3>
                <div class="principal-userList-encabezados" >
                    <div class="principal-userList-img"><h4>Imagen</h4></div>  
                    <div class="principal-userList-documento"><h4>Documento</h4></div>
                    <div class="principal-userList-nombre"><h4>Nombre</h4></div>
                    <div class="principal-userList-apellido"><h4>Apellido</h4></div>
                    <div class="principal-userList-email"><h4>Email</h4></div>
                    <div class="principal-userList-fecha"><h4>Fecha<br>nacimiento</h4></div>
                    <div class="principal-userList-direccion"><h4>Dirección</h4></div>
                    <div class="principal-userList-rol"><h4>Rol</h4></div>
                    <div class="principal-userList-status"><h4>Estado</h4></div>
                    <div class="principal-userList-botones"><h4>Editar/<br>Activar</h4></div>
                </div>
                <div class="productos-admin">
                    
                    
                    <% users.forEach(usuario=> { %>
                        <% if (usuario.status === "Inactivo") { %>
                            <%- include('../components/singleUserDisabled', {usuario : usuario}) %> 
                            <% cantidadInactivos += cantidadInactivos%>        
                        <% } %>
                    <% }) %>
                    

                </div>


            </main>

            <!-- ********************************FIN MAIN***************************************** -->
            <%- include("../partials/footer") %>
               

    </body>

    </html>