<%- include("../partials/head") %>

    <body>
        <%- include("../partials/header2") %>

            <!-- *****************************INICIO MAIN****************************************** -->

            <main class="main-admin">
                <% let cantidadActivos = 0 %>
                <% users.forEach(usuario=> { %>
                    <% if (usuario.status === "Activo") { %>
                        <% cantidadActivos = cantidadActivos + 1 %>        
                    <% } %>
                <% }) %>
                <h3 class="all-product-title">Usuarios Registrados Activos (<%= cantidadActivos%>)</h3>
                <div class="productos-admin">

                    <% users.forEach(usuario=> { %>
                        <% if (usuario.status === "Activo") { %>
                            <%- include('../components/singleUser', {usuario : usuario}) %> 
                        <% } %>
                    <% }) %>

                </div>


            </main>

            <!-- ********************************FIN MAIN***************************************** -->
            <%- include("../partials/footer") %>
                <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>

    </body>

    </html>