<%- include("../partials/head") %>

    <body>
        <%- include("../partials/header2") %>

            <!-- *****************************INICIO MAIN****************************************** -->
            
            <main class="main-admin">
                <h3 class="all-product-title" >Usuarios Registrados</h3>
                    <div class="productos-admin">                       
                      
                            <% users.forEach(usuario=> { %> 
                                <!-- <div class="produc">  -->
                                    <section class="section-destacados-admin">
                                                                                  
                                           <img src="../../img/user/<%= usuario.image %>" alt="foto-usuario" >
                                            <P><STRONG>ID: </STRONG><%= usuario.id %></P>
                                            <p><strong>Nombres y apellidos:</strong><br> <%= usuario.NombreYapellido %></p>
                                            <p><strong>Correo Electrónico:</strong><br> <%= usuario.Email %></p>
                                            <p><strong>Fecha de nacimiento: </strong><br> <%= usuario.FechaNacimiento %></p>
                                            <p><strong>Dirección: </strong><br> <%= usuario.Domicilio %></p>
                                        
                                            
                                            <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
                                            
                                            
                                        
                                            <!-- <form action="/usuario/delete/<%= usuario.id %>?_method=DELETE" method="POST" >
                                                <a href="/usuario/editar/<%= usuario.id %>" class="com-but-main"><button class="admin-but">EDITAR</button></a>
                                                <button type="submit" name="delete" id="delete" class="admin-but">BORRAR</button>
                                            </form>
                                      -->
                                  <div class="div-form-delete-edit-users">
                                    <form action="/admin/usuario/delete/<%= usuario.id %>?_method=DELETE" method="POST" >
                                        <button type="submit" name="delete" id="delete" class="admin-but"><p><strong>BORRAR</strong></p></button>
                                    </form>

                                    <form action="/admin/usuario/editar/<%= usuario.id %> method="get" >
                                        <button type="submit" name="editar" id="delete" class="admin-but"><p><strong>EDITAR</strong></p></button>
                                     </form>
                                 </div>      
                                                                  
                                    </section> 
                                <!-- </div> -->
                            <% }) %>
                     
                    </div>
                   

            </main>

            <!-- ********************************FIN MAIN***************************************** -->
            <%- include("../partials/footer") %>
            <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>            
            
    </body>

    </html>