<%- include("../partials/head") %>

    <body>
        <%- include("../partials/header2") %>

            <!-- *****************************INICIO MAIN****************************************** -->

            <main class="main-admin">
                <% let cantidadInactivos = 0 %>
                <% users.forEach(usuario=> { %>
                    <% if (usuario.status === "Inactivo" ) { %>
                        <% cantidadInactivos = cantidadInactivos + 1 %>        
                    <% } %>
                <% }) %>
                <% if(locals.userLogged.status === "Inactivo"){ %>
                    <% cantidadInactivos = cantidadInactivos - 1 %>
                    <% } %>
                <h3 class="all-product-title">Usuarios Registrados Inactivos (<%= cantidadInactivos %>)</h3>
               
                <div class="productos-admin">
                    
                    
                    <% users.forEach(usuario=> { %>
                        <% if (usuario.status === "Inactivo" && usuario.email != locals.userLogged.email) { %>
                            <%- include('../components/singleUserDisabled', {usuario : usuario}) %> 
                                 
                        <% } %>
                    <% }) %>
                    

                </div>


            </main>

            <!-- ********************************FIN MAIN***************************************** -->
            <%- include("../partials/footer") %>
               

    </body>

    </html>