<%- include("../partials/head") %>

    <body>
        <%- include("../partials/header2") %>

            <!-- *****************************INICIO MAIN****************************************** -->

            <main class="main-admin">
                <% let cantidadActivos = 0 %>
                <% users.forEach(usuario=> { %>
                    <% if (usuario.status === "Activo") { %>
                        <% cantidadActivos = cantidadActivos + 1 %>        
                    <% } %>
                <% }) %>
                <h3 class="all-product-title">Usuarios Registrados Activos (<%= cantidadActivos%>)</h3>
                <div class="principal-userList-encabezados" >
                    <div class="principal-userList-img"><h4>Imagen</h4></div>  
                    <div class="principal-userList-documento"><h4>Documento</h4></div>
                    <div class="principal-userList-nombre"><h4>Nombre</h4></div>
                    <div class="principal-userList-apellido"><h4>Apellido</h4></div>
                    <div class="principal-userList-email"><h4>Email</h4></div>
                    <div class="principal-userList-fecha"><h4>Fecha<br>nacimiento</h4></div>
                    <div class="principal-userList-direccion"><h4>Dirección</h4></div>
                    <div class="principal-userList-rol"><h4>Rol</h4></div>
                    <div class="principal-userList-status"><h4>Estado</h4></div>
                    <div class="principal-userList-botones"><h4>Editar<br>Desactivar</h4></div>
                </div>
                <div class="productos-admin">

                    <% users.forEach(usuario=> { %>
                        <% if (usuario.status === "Activo") { %>
                            <%- include('../components/singleUser', {usuario : usuario}) %> 
                        <% } %>
                    <% }) %>

                </div>


            </main>

            <!-- ********************************FIN MAIN***************************************** -->
            <%- include("../partials/footer") %>
                <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>

    </body>

    </html>