<a href="detalle/<%= product.id %>">
    
    <div class="container-first-cardHome">
        <div class="container-img-home">

            <img src="../img/products/<%= product.image %>" alt="bota">
        </div>

        <p class="nombre-del-producto">
            <%= product.name %>
        </p>
        <p class="precio-del-producto">
            $<%= product.price %>
        </p>


    </a>
    </div>

<<<<<<< HEAD
<<<<<<< HEAD
    <button class="form__button">
=======
    <button class=" form__button agregarCarrito">
>>>>>>> 5bfe422605fd56b5ccc3b680ef8704b5e571266e
=======
    <button class=" form__button agregarCarrito" data-id="<%= product.id %>">
>>>>>>> d32357c762a09b7afb21e05c1c6fc600f9b063f2
        Agregar al Carrito
    </button>


