<div class="produc" id="lista-platillos">

    <a href="detalle/<%= product.id %>">
        <!-- <div class="container-first-cardHome"> -->

            <!-- <div class="container-img-home"> -->
                <img src="/img/products/<%= product.image %>" alt="bota">
            <!-- </div> -->
        </a>
                <p class="name"><%= product.name %></p>
            <!-- <div class="div-price-home">                -->
                <p class="price">$ <%= product.price %></p>
            <!-- </div> -->
        <!-- </div> -->
 
<!-- 
    <button class="agregarCarrito form__button btn-productHome" data-id="<%= product.id %>"><p>Comprar</p></button>
    <p class="prodAgregado" data-id="<%= product.id %>"></p> 
     -->
     <button class="agregarCarrito form__button btn-productHome" data-id="<%= product.id %>">Comprar</button>
    

</div>
