<section class="section-destacados-admin">

    <img src="../../img/user/<%=locals.userLogged.image%>" alt="foto-usuario">
    
    <p><strong>Nombre</strong><br>
        <%= locals.userLogged.first_name %>
    </p>
    <p><strong>Apellido:</strong><br>
        <%= locals.userLogged.last_name %>
    </p>
    <p><strong>Correo Electrónico:</strong><br>
        <%= locals.userLogged.email %>
    </p>
    <p><strong>Fecha de nacimiento: </strong><br>
        <%= locals.userLogged.date_of_birth %>
    </p>
    <p><strong>Dirección: </strong><br>
        <%= locals.userLogged.adress %>
    </p>
    
    <div class="div-form-delete-edit-users">
        <form action="/admin/usuario/delete/<%= locals.userLogged.id %>?_method=DELETE" method="POST" >
            <button type="submit" name="delete" id="delete" class="admin-but">
                <p><strong>BORRAR</strong></p>
            </button>
        </form>

        <form action="/admin/usuario/editar/<%= locals.userLogged.id %>" method="get">
            <button type="submit" name="editar" id="delete" class="admin-but">
                <p><strong>EDITAR</strong></p>
            </button>
        </form>
    </div>

</section>