<section class="section-destacados">
    <a href="detalle/<%= product.id %>">
        <img src="../img/products/<%= product.image %>" alt="bota">
        <p>
            <%= product.name %>
        </p>
        <p>$<%= product.price %>
        </p>
        <p><a href="detalle/<%= product.id %>" class="com-but-main"><button>COMPRAR</button></a></p>
        <p><i class="fa-solid fa-star"></i></p>
    </a>
</section>