<section class="section-destacados-admin">

    <img src="../../img/user/<%= usuario.image %>" alt="foto-usuario">
    <P><STRONG>Documento: </STRONG>
        <%= usuario.document %>
    </P>
    <p><strong>Nombre:</strong><br>
        <%= usuario.first_name %>
    </p>
    <p><strong>Apellido:</strong><br>
        <%= usuario.last_name %>
    </p>
    <p><strong>Correo Electrónico:</strong><br>
        <%= usuario.email %>
    </p>
    <p><strong>Fecha de nacimiento: </strong><br>
        <%= usuario.date_of_birth %>
        
    </p>
    <p><strong>Dirección: </strong><br>
        <%= usuario.adress %>
    </p>
    <p><strong>Rol: </strong><br>
        <%= usuario.roles.name %>
    </p>

    <p><strong>Estado: </strong><br>
        <%= usuario.status %>
    </p>

  
    
    <div class="div-form-delete-edit-users">
        
                <form action="/admin/usuario/editar/<%= usuario.id %>" method="get">
                    <button type="submit" name="editar" id="delete" class="admin-but">
                        <strong>EDITAR</strong>
                    </button>
                </form>
        <form action="/admin/usuario/delete/<%= usuario.id %>?_method=DELETE" method="POST">
            <button type="submit" name="delete" id="delete" class="admin-but">
                <strong>DESACTIVAR</strong>
            </button>
        </form>
    </div>

</section>