<%- include('./partials/head') %>
<%- include('./partials/header2') %>
<main>
<h1 class="contact-title">Formulario de contacto</h1>
<div class="contact-p_contain">

    
        <p class="contact-p">
            Hola ¿Como estas? Si tenes alguna duda, comentario o pregunta que nos quieras hacer podes completar el formulario y recibiras una respuesta en menos de 24 horas.
        <p class="contact-p" >
            Tambien, me podes mandar un correo electronico a <a href="mailto:contacto@shoemarket.com.ar">contacto@shoemarket.com.ar</a>
                o escribirnos en cualquiera de nuestras redes!
            
        </p>
        <p class="contact-p" >Gracias!</p>
    </p>

</div>
<form class="contact-form" action="/contact" method="POST">
    <label for="name">
        <input class="contact-form__input" type="text" name="name" placeholder="Nombre y apellido" value="<%= locals.old && old.name ? old.name : ""  %>"> 
    </label>
    <% if (locals.errors && errors.name) { %>
        <p> <%= errors.name.msg %> </p>
    <% } %>
    <label for="email">
        <input class="contact-form__input" type="email" name="email" placeholder="Correo electronico" value="<%= locals.old && old.email ? old.email : ""  %>">
    </label>
    <% if (locals.errors && errors.email) { %>
        <p> <%= errors.email.msg %> </p>
    <% } %>
    <label for="msg">
        <textarea  class="contact-form__input" name="msg"  cols="30" rows="10" placeholder="introduzca su mensaje" ></textarea>
    </label>
    <% if (locals.errors && errors.msg) { %>
        <p> <%= errors.msg.msg %> </p>
    <% } %>
    <div class="contact-form__button-contain">
        <label for="button"> 
            <button class="contact-form__button" type="submit" name="button" >Enviar</button>
            
        </label>

    </div>
        



</form>




</main>
<%- include('./partials/footer') %>