<%- include("./partials/head") %>

    <body>
        <%- include("./partials/header2") %>

            <!-- *****************************INICIO MAIN****************************************** -->

            <!-- <main>

                <div class="containerCarrito none">
                    <div class="row">
                        <div class="four columns">
                            
                        </div>
                        <div class="two columns u-pull-right">
                            <ul>
                                <li class="submenu">
                                   
                                    <div class="div-carrito none" id="carrito">
                                        <p class="vacío">Carrito vacío</p>
                                        <table id="lista-carrito" class="u-full-width carrito-home">
                                            <thead>
                                                <tr>
                                                    <th>Imagen </th>
                                                    <th>Nombre </th>
                                                    <th>Precio </th>
                                                    <th>Cantidad </th>
                                                    <th></th>
                                                </tr>
                                            </thead>
                                            <tbody>

                                            </tbody>
                                        </table>
                                        <div class="botones-del-carrito">
                                            <a href="#" id="vaciar-carrito" class="button u-full-width"><button
                                                    class="boton-vaciar-carrito">Vaciar Carrito</button></a>
                                            <a href="#" id="pagar" class="button u-full-width"><button
                                                    class="boton-vaciar-carrito">Pagar</button></a>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div> -->


                <!-- Fin carrito -->

                <div class="main-home" id="main-home">


                    <section class="productos">
                        <% productos.forEach(product=> { %>
                            <% if (product.status==="Enabled" ) { %>
                                <%- include("./components/productHome",{product:product}) %>
                                    <% } %>
                                        <% }) %>
                    </section>


                    <section class="section3">
                        <video autoplay loop muted>
                            <source
                                src="https://player.vimeo.com/progressive_redirect/playback/686324588/rendition/720p?loc=external&signature=d6b9e6986b56478f7ab61ca9479464a10d79f4f600bf950c804fe828697f1cce"
                                playsinline type="video/mp4" />
                            No se puede reproducir el video
                        </video>
                    </section>

                    <section class="productos">
                        <% productos.forEach(product=> { %>
                            <% if (product.status==="Enabled" ) { %>
                                <%- include("./components/productHome",{product:product}) %>
                                    <% } %>
                                        <% }) %>
                    </section>
                    <section class="section3">
                        <video autoplay loop muted>
                            <source
                                src="https://player.vimeo.com/progressive_redirect/playback/686324588/rendition/720p?loc=external&signature=d6b9e6986b56478f7ab61ca9479464a10d79f4f600bf950c804fe828697f1cce"
                                playsinline type="video/mp4" />
                            No se puede reproducir el video
                        </video>
                    </section>


                </div>
                <section class="newsletter-help__section">

                    <div class="news-letter">
                        <h2>Suscribite a nuestro newsletter</h2>
                        <form action="/" method="POST">
                            <div class="div-newsletter">

                                <input type="email" name="newsletter" placeholder="Ingresa tu e-mail">
                                <button class="news-letter-btn"><i
                                        class="fa-solid fa-arrow-right arrow-news"></i></button>
                            </div>
                        </form>

                    </div>

                    <div class="help-button">
                        <button><i class="fa-solid fa-circle-question"></i> Ayuda</button>
                    </div>

                </section>

                




            </main>

            <!-- ********************************FIN MAIN***************************************** -->
            <%- include("./partials/footer") %>
                <script src="/js/home.js"></script>

    </body>

    </html>
  