<%- include("./partials/head") %>

    <body>
        <%- include("./partials/header2") %>

            <p>


                <% products.forEach(element=> { %>
                    <% element.fotos.forEach(foto => { %>
                        <img src="/img/products/<%= foto.name %>" alt="">
                     
                    <% }) %>
                    <ul>
                        
                        <li class="prueba">nombre <%= element.name %>
                        </li>
                        <li class="prueba">precio <%= element.price %>
                        </li>
                        <li class="prueba"> categoria <%= element.categorias.name %>
                        </li>
                        <li class="prueba"> talles <% element.talles.forEach(sizes=> { %> <%=sizes.size %> 
                            <% }) %>
                        </li>
                        <li class="prueba"> cantidad <% element.productosTalles.forEach(cant=> { %>  <%=cant.quantity %>
                                    <% }) %>
                        </li>
                        <li class="prueba">linea <%= element.lineas.name %>
                        </li>
                        <li class="prueba"> color <%= element.color %>
                        </li>
                        
                    </ul>

                    <% }) %>
            </p>


            <%- include("./partials/footer") %>

    </body>

    </html>