<%- include("./partials/head") %>

    <body>
        <%- include("./partials/header2") %>

<p>


<% products.forEach(element => { %>
    <ul>
        
        <li class="prueba">nombre <%= element.name %></li>
        <li class="prueba"> categoria <%= element.categorias.name %></li>
        <li class="prueba"> cantidad talle<%= element.productosTalles.quantity %></li>
        <li class="prueba">linea <%= element.lineas.name %></li>
        <li class="prueba"> color <%= element.color %></li>
        
    </ul>
 
<% }) %>
</p>


        <%- include("./partials/footer") %>

    </body>

    </html>