<%- include("../partials/head") %>
<body>
<%- include("../partials/header2") %>   
                <main class="main-login">
                    <section class="section-login">
            
            
                        <form action="/user/login" method="POST" class="form-login">
            
                            <!-- <div class="usuario"> -->
            
                                <div class="usuario__nombre ">
                                    <label class="label-relative" for="email" "><strong>Correo Electrónico:</strong>
                                    <i class="email-check" id="email-check"></i>                                                                             
                                    </label>
                                    
                                    <input  type="email" name="email" id="email" value="<%= locals.old && old.email ? old.email : ""%>"
                                    placeholder="Correo electrónico">
                                    <ul class="errorDocumento">
                                        <li id="liErrorDocumento1" class="none">Debe introducir una dirección de email.</li>
                                        <li id="liErrorDocumento2" class="none">El campo Correo electrónico debe contener una dirección válida. Ejemplo: usuario@gmail.com</li>
                                        <li id="liErrorDocumento3" class="none">Debe introducir una dirección de e-mail y una contraseña para iniciar sesión.</li>
                                    </ul>
                                    <% if (locals.errors && errors.email ) { %>

                                        <p class="form-error">
                                            <%= errors.email.msg %>
                                        </p>
            
                                        <% } %>
            
                                </div>
                                <div class="usuario__pass">
                                    <label for="password"><strong>Contraseña:</strong></label>
                                    <input type="password" name="password" id="password" placeholder="Contraseña" > 
                                    <ul class="errorDocumento">
                                        <li id="liErrorPassword1" class="none">Debe introducir una contraseña para iniciar sesión.</li>
                                        <li id="liErrorPassword2" class="none">La contraseña Debe tener almenos una letra en minúscula, una en mayúscula, un número y un carácter especial como @ o #, y debe ser de almenos 8 caracteres.</li>
                                    </ul>
                                    <% if (locals.errors && errors.password ) { %>

                                        <p class="form-error">
                                            <%= errors.password.msg %>
                                        </p>
            
                                        <% } %>
            
                                </div>
            
                            </div>
                            
                            <div class="recordame-enviar">

                            <div class="usuario_record_div">
                                <label  class="usuario_record" for="record"><strong>Recordame</strong></label>
                                <input type="checkbox" name="record" id="record" class="checkbox">                               
                            </div>
            
                            <div class="section-login__button">            
                                <button class="button-login" type="submit">Enviar</button>            
                            </div>
            
                        </div>

                        </form>
                    </section>
            
                    <div class="help-button">
                        <button><i class="fa-solid fa-circle-question"></i> Ayuda</button>
                      </div>
                     

                </main>
                <%- include("../partials/footer") %>

                <script src="http://code.jquery.com/jquery-1.9.1.min.js"></script>
                <script src="http://code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
                <link href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/2.0.1/css/toastr.css" rel="stylesheet"/>
                <script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/2.0.1/js/toastr.js"></script>
                <script src="https://unpkg.com/native-toast@2.0.0/dist/native-toast.min.js"></script>
                <script src="https://unpkg.com/browse/native-toast@2.0.0/dist/native-toast.min.js"></script>            
                <script src="https://unpkg.com/native-toast@2.0.0/dist/native-toast.cjs.js"></script>
                <script src="/js/loginValidation.js"></script>
                
</body>
</html>