<%- include("../partials/head") %>
<body>
    <script>swal.fire("Usuario creado con éxito")</script>
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
<%- include("../partials/header2") %>   
                <main class="main-login">
                    <section class="section-login">
            
            
                        <form action="/user/login" method="POST" class="form-login">
            
                            <div class="usuario">
            
                                <div class="usuario__nombre">
                                    <label for="email"></label>
                                    <input type="email" name="email" id="email" value="<%= locals.old && old.email ? old.email : ""%>"
                                    placeholder="Correo electrónico" >
                                    <% if (locals.errors && errors.email ) { %>

                                        <p class="form-error">
                                            <%= errors.email.msg %>
                                        </p>
            
                                        <% } %>
            
                                </div>
                                <div class="usuario__pass">
                                    <label for="password"></label>
                                    <input type="password" name="password" id="password" placeholder="Contraseña" > 
                                    <% if (locals.errors && errors.password ) { %>

                                        <p class="form-error">
                                            <%= errors.password.msg %>
                                        </p>
            
                                        <% } %>
            
                                </div>
            
                            </div>
                            
                                <label  class="usuario_record" for="record">Recordame
                                    <input type="checkbox" name="record" id="record">
                                </label>
                            
            
                            <div class="section-login__button">
            
                                <button class="button-login" type="submit">Enviar</button>
            
                            </div>
            
            
                        </form>
                    </section>
            
                    <div class="help-button">
                        <button><i class="fa-solid fa-circle-question"></i> Ayuda</button>
                      </div>
                      
                      

                </main>
                <%- include("../partials/footer") %>
                
</body>
</html>