<%- include("../partials/head") %>
<body>
<%- include("../partials/header2") %>   
            <main>
<h2><%= user.NombreYapellido %> </h2>
<p><%= user.Email %> </p>
<div>

    <img class="img-profile" src="../img/user/<%=user.image%>" alt="no anda">
</div>
</main>
<%- include("../partials/footer") %>
</body>
</html>