<%- include("../partials/head") %>
<body>
<%- include("../partials/header") %>   
            <main>
<h2><%= user.nombre %> </h2>
<p><%= user.email %> </p>
<div>

    <img class="img-profile" src="../../images/users/<%=user.avatar%>" alt="">
</div>
</main>
<%- include('partials/footer') %>
    <!-- /footer -->
</body>

</html>