<%- include("../partials/head") %>
<body>
    
<%- include("../partials/header2") %>
                <main class="main-register">
                 
                    <form  action="/user/registro" method="POST" class="form-Reg" enctype="multipart/form-data">
                        
                        <div class="form__documento">
                            <label for="documento">Documento de identidad *</label>
                            <input type="number" name="documento" id="documento" placeholder="Mínimo 5 números, Máximo 10"
                            value ="<%= locals.oldData ? oldData.documento : null%>" title="hola"
                            >  
                            <ul class="errorDocumento">
                                <li id="liErrorDocumento1" class="none">Debe introducir un documento</li>
                                <li id="liErrorDocumento2" class="none">Debe introducir minimo 5 numeros y maximo 10</li>
                            </ul>
                                                      
                            <% if (locals.errors && errors.documento) {%>
                                <div class="text-aviso"><%= errors.documento.msg %></div>
                            <%}%>
                        </div>

                        <div class="form__nombre">
                            <label for="nombre">Nombre *</label>
                            <input type="text" name="nombre" id="nombre" placeholder="Introduzca su Nombre"
                            value ="<%= locals.oldData ? oldData.nombre : null%>">
                            <ul class="errorNombre">
                                <li id="liErrorNombre1" class="none">Debe introducir un nombre</li>
                                <li id="liErrorNombre2" class="none">Debe introducir al menos 2 caracteres</li>
                            </ul>
                            <% if (locals.errors && errors.nombre) {%>
                                <div class="text-aviso"><%= errors.nombre.msg %></div>
                            <%}%>
                        </div>
                        <div class="form__apellido">
                            <label for="apeillido">Apellido *</label>
                            <input type="text" name="apellido" id="apellido" placeholder=" Introduzca su apellido"
                            value ="<%= locals.oldData ? oldData.apellido : null%>"
                            >
                            <ul class="errorApellido">
                                <li id="liErrorApellido1" class="none">Debe introducir un Apellido</li>
                                <li id="liErrorApellido2" class="none">Debe introducir al menos 2 caracteres</li>
                            </ul>
                            <% if (locals.errors && errors.apellido) {%>
                                <div class="text-aviso"><%= errors.apellido.msg %></div>
                            <%}%>
                        </div>

                       
                        <div class="form__usuario">
                            <label for="email">Correo electrónico *</label>
                            <input type="email" name="email" id="email" placeholder="Introduzca su Correo electronico"  value ="<%= locals.oldData ? oldData.email : null%>" >
                            <% if (locals.errors && errors.email) {%>
                                <div class="text-aviso"><%= errors.email.msg %></div>
                            <%}%>
                        </div>
                        <div class="form__fecha">
                            <label for="fecha">Fecha de nacimiento *</label>
                            <input type="date" name="fecha" id="fecha" value ="<%= locals.oldData ? oldData.fecha : null%>">
                            <% if (locals.errors && errors.fecha) {%>
                                <div class="text-aviso"><%= errors.fecha.msg %></div>
                            <%}%>
            
                        </div>
                        <div class="form__domicilio">
                            <label for="domicilio">Domicilio de envío *</label><br>
                            <input type="text" name="domicilio" id="domicilio" placeholder=" Introduzca su Domicilio" value ="<%= locals.oldData ? oldData.domicilio : null%>">
                            <% if (locals.errors && errors.domicilio) {%>
                                <div class="text-aviso"><%= errors.domicilio.msg %></div>
                            <%}%>
                        </div>
                       
                            <div class="form__password">
                                <label class="form__password__title" for="pass">Contraseña *</label><br>
                                <input type="password" name="pass" id="pass" placeholder="Introduzca su contraseña">
                                <% if (locals.errors && errors.pass) {%>
                                    <div class="text-aviso"><%= errors.pass.msg %></div>
                                <%}%>
                            </div>
                          
                            <div class="form-create__img">
                                <label class="form-create__img__title" for="photo">Seleccione la foto </label>
                                    <input type="file" name="photo" accept=".jpg,.jpeg,.png,.gif" id="file">
                                    <% if (locals.errors && errors.photo) {%>
                                        <div class="text-aviso"><%= errors.photo.msg %></div>
                                    <%}%><hr>  

                                    <div id="preview"></div>
                                    
                                    <script>
                                        document.getElementById("photo").onchange = function(e) {
                                        let reader = new FileReader();            
                                        reader.onload = function(){
                                        let preview = document.getElementById('preview'),
                                        image = document.createElement('img');
                                        image.src = reader.result;             
                                        preview.innerHTML = '';
                                        preview.append(image);
                                                              };
                                        reader.readAsDataURL(e.target.files[0]);
                                           }    
                                    </script>
                    
                            <div class="contenedor_button" >
                                <!-- <button class="form__button" type="delete" >Borrar</button> -->
                                <button class="form__button" id="sub_button" type="submit">Enviar</button>
            
                            </div>                                          
            
                    </form>
            
                    <div class="help-button">
                        <button><i class="fa-solid fa-circle-question"></i> Ayuda</button>
                      </div>
            
                </main>
               
                <%- include("../partials/footer") %>
               
                <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
                
                <script src="/js/registro.js"></script>
               
</body>
</html>