<%- include("../partials/head") %>

    <body>
        <%- include("../partials/header2") %>

            <!-- *****************************INICIO MAIN****************************************** -->

            <main>
                <% if (productos.length != 0) { %>
                 
                    <h3 class="all-product-title" ><%=categoria.name  %> </h3>
                <section class="productos">

                <% productos.forEach(product=> { %>
                    <% if (product.status === "Enabled") { %>
                        <div class="produc">
                            <%- include("../components/listProduct",{product:product}) %>
                        </div>
                        <% } %>
                    <% }) %>
                </section>
                
                        
                    <% }  else { %>
                        <h3 class="all-product-title" >No tenemos productos en esta categoria en este momento</h3> 
                        <% }   %>
                        <div class="news-letter">
                            <h2>Suscribite a nuestro newsletter</h2>
                            <form action="/" method="POST">
                                <div class="div-newsletter">
    
                                    <input type="email" name="newsletter" placeholder="Ingresa tu e-mail">
                                    <button class="news-letter-btn"><i
                                            class="fa-solid fa-arrow-right arrow-news"></i></button>
                                </div>
                            </form>
    
                        </div>

                        <div class="help-button">
                            <button><i class="fa-solid fa-circle-question"></i> Ayuda</button>
                        </div>

            </main>

            <!-- ********************************FIN MAIN***************************************** -->
            <%- include("../partials/footer") %>
    </body>

    </html>