<%- include("../partials/head") %>

    <body>
        <%- include("../partials/header2") %>

            <main>
                <article class="main-descr">


                    <section class="photos-desc">
                        <% if (producto) { %>
                         
                        
                        <% if (producto.color) { %>
                            <article class="photos-small">
                                <div class="photos-small__div">
                                    <img class="photos-small__photo" src="../img/products/<%=producto.image%>"
                                        alt="product">
                                </div>
                                <div class="photos-small__div">
                                    <img class="photos-small__photo" src="../img/products/<%= producto.image %>"
                                        alt="product">
                                </div>
                                <div class="photos-small__div">
                                    <img class="photos-small__photo" src="../img/products/<%= producto.image %>"
                                        alt="product">
                                </div>
                            </article>

                            <% } %>
                                <div class="photos-desc__div">
                                    <img class="photos-desc__big" src="../img/products/<%= producto.image%>"
                                        alt="product">
                                </div>
                    </section>

                    <article class="descr-prod">
                        <section class="name-pr">
                            <h3 class="name-pr__title p-detail">
                                <%=producto.name %>
                            </h3>
                            <p class="name-pr__price  p-detail">$<%= producto.price %>
                            </p>
                            <p class="name-pr__cuota  p-detail">12 cuotas sin interes <i class="fa-solid fa-credit-card"></i>
                            </p>
                            <p class="name-pr__off  p-detail">20% OFF abonando con transferencia</p>
                        </section>
                        <% if (producto.color) { %>
                            <section class="art-size">
                                <h3 class="art-size__title">Selecciona el talle</h4>
                                    <div class="size">
                                        <button class="btn-size">35</button>
                                        <button class="btn-size">36</button>
                                        <button class="btn-size">37</button>
                                        <button class="btn-size">38</button>
                                        <button class="btn-size">39</button>
                                        <button class="btn-size">40</button>
                                    </div>
                            </section>
                            <% } %>
                                <section class="desc-comp">
                                    <!-- <button type="submit" class="desc-comp__but" >Agregar al carrito</button> -->
                                    <a href="#" class="u-full-width button-primary button input agregar-carrito" data-id="3">Agregar Al Carrito</a>
                                </section>
                    </article>
                </article>
                <% if (producto.description) { %>
                    <section class="desc-desc">
                        
                        <p class="desc-p">
                            <%- producto.description %>
                        </p>
                    </section>
                    <% } %>
                        <div class="help-button">
                            <button><i class="fa-solid fa-circle-question"></i> Ayuda</button>
                        </div>
                        <% } else { %>
                            <section class="not-prod-section">

                                <div>

                                    <h3 class="all-product-title" >No tenemos ese producto en este momento</h3>

                                </div>
                            <div class="not-prod-div">
                                <a class="not-prod-a" href="/"><button class="des-but" >Ir a la pagina Principal</button></a>   
                            </div>
                        </section>
                            <% }  %>
            </main>
            <%- include("../partials/footer") %>
    </body>

    </html>