<%- include("../partials/head") %>

    <body>
        <%- include("../partials/header") %>

            <main>
                <article class="main-descr">


                    <section class="photos-desc">
                        <% if (producto.size) { %>


                            <article class="photos-small">

                                <div class="photos-small__div">
                                    <img class="photos-small__photo" src="../img/products/<%=producto.image%>"
                                        alt="product">

                                </div>
                                <div class="photos-small__div">
                                    <img class="photos-small__photo" src="../img/products/<%= producto.image %>"
                                        alt="product">
                                </div>
                                <div class="photos-small__div">
                                    <img class="photos-small__photo" src="../img/products/<%= producto.image %>"
                                        alt="product">
                                </div>
                            </article>

                            <% } %>
                                <div class="photos-desc__div">
                                    <img class="photos-desc__big" src="../img/products/<%= producto.image%>"
                                        alt="product">

                                </div>



                    </section>



                    <article class="descr-prod">

                        <section class="name-pr">
                            <h3 class="name-pr__title">
                                <%=producto.name %>

                            </h3>

                            <p class="name-pr__price">$<%= producto.price %>
                            </p>


                            <p class="name-pr__cuota">12 cuotas sin interes <i class="fa-solid fa-credit-card"></i>
                            </p>


                            <p class="name-pr__off">20% OFF abonando con transferencia</p>

                        </section>
                        <% if (producto.color) { %>

                            <section class="select">
                                <h3 class="selec-color__title">Seleciona un color</h3>
                                <form action="#">
                                    <select name="color" id="color" class="selec-color__form" required>

                                        <% if (producto.color[0]) { %>
                                            <option value="color1">
                                                <%= producto.color[0] %>
                                            </option>
                                            <% } %>
                                                <% if (producto.color[1]) { %>
                                                    <option value="color2">
                                                        <%= producto.color[1] %>
                                                    </option>
                                                    <% } %>
                                                        <% if (producto.color[2]) { %>
                                                            <option value="color3">
                                                                <%= producto.color[2] %>
                                                            </option>
                                                            <% } %>


                                    </select>
                                </form>
                            </section>
                            <% } %>
                                <% if (producto.size) { %>

                                    <section class="art-size">
                                        <h3 class="art-size__title">Selecciona el talle</h4>
                                            <div class="size">
                                                <button class="size__35">35</button>
                                                <button class="size__36">36</button>
                                                <button class="size__37">37</button>
                                                <button class="size__38">38</button>
                                                <button class="size__39">39</button>
                                                <button class="size__39">40</button>
                                            </div>

                                    </section>
                                    <% } %>

                                        <section class="desc-comp">
                                            <button type="submit" class="desc-comp__but">Agregar al carrito</button>
                                        </section>
                    </article>
                </article>
                <% if (producto.size) { %>


                    <section class="desc-desc">
                        <h3 class="desc-desc__title">Descripcion</h3>
                        <ul>
                            <li>Material : <%= producto.description.Material %>
                            </li>
                            <li>Altura Base : <%= producto.description.Alturabase %>
                            </li>
                            <li>Altura Taco : <%= producto.description.Alturataco %>
                            </li>
                            <li>Altura Caña : <%= producto.description.Alturacana %>
                            </li>
                            <li>Colores : <%= producto.description.Colores %>
                            </li>

                        </ul>
                    </section>
                    <% } %>
                        <div class="help-button">
                            <button><i class="fa-solid fa-circle-question"></i> Ayuda</button>
                        </div>


            </main>
            <%- include("../partials/footer") %>
    </body>

    </html>