<%- include("../partials/head") %>

    <body>
        <%- include("../partials/header") %>
        <main class="main-register">
                
                <form action="/productos/editar/<%= producto.id %>?_method=put" method="post" class="form-create" enctype="multipart/form-data">
                    <div>
                        <h1 class="crear-title">EDITAR <%= producto.name %>
                        </h1>
                        <img class="img-edit-product" src="../../img/products/<%= producto.image %>" alt="<%= producto.image %>">
                    </div>
                    <div class="form-create__nombre">
                        <label for="nombre">Nombre del producto *</label>
                        <input type="text" name="name" id="nombre" placeholder="Nombre del nuevo producto" required
                            minlength="4">
                    </div>
                    <div class="form-create__descr">
                        <h3>Descripcion del producto*</h3>
                        <div class="div-desc">
                            <label for="material"> Material</label>
                            <input type="text" name="material">
                        </div>
                        <div class="div-desc">
                            <label for="base"> Altura de la base</label>
                            <input type="text" name="base">
                        </div>
                        <div class="div-desc">
                            <label for="taco">Altura del taco</label>
                            <input type="text" name="taco">
                        </div>

                        <div class="div-desc">
                            <label for="cana">Altura de la caña</label>
                            <input type="text" name="cana">
                        </div>

                        <div class="div-desc">
                            <label for="colores">Colores</label>
                            <input type="text" name="colores">
                        </div>


                    </div>

                    <div class="form-create__img">
                        <label for="photo">Seleccione las foto
                            <div class="file-select"><input type="file" name="img" accept=".jpg,.jpeg"></div>
                        </label>



                    </div>
                    <div class="form-create__price">
                        <label for="price">Precio *</label><br>
                        <input type="number" name="price" id="price" placeholder=" Introduzca el precio" required
                            minlength="4">
                    </div>
                    <div class="form-create__color">
                        <div class="form-create__size__title__div">
                            <label class="form-create__size__title" for="talles">Seleccione los talles</label>
                        </div>

                        <label class="form-create__color__check" for="negro">
                            <input type="checkbox" name="color" id="negro" value="Negro">
                            Negro
                        </label>
                        <label class="form-create__color__check" for="Rojo">
                            <input type="checkbox" name="color" id="Rojo" value="Rojo">
                            Rojo
                        </label>
                        <label class="form-create__color__check" for="Crema">
                            <input type="checkbox" name="color" id="Crema" value="Crema">
                            Crema
                        </label>
                        <label class="form-create__color__check" for="Blanco">
                            <input type="checkbox" name="color" id="Blanco" value="Blanco">
                            Blanco
                        </label>
                        <label class="form-create__color__check" for="Rosa">
                            <input type="checkbox" name="color" id="Rosa" value="Rosa">
                            Rosa
                        </label>

                    </div>

                    <div class="form-create__cat">
                        <div class="form-create__cat-div">
                            <label for="category">Selecciona la categoria</label>
                        </div>
                        <div class="form-create__cat__div-input">
                            <select name="category" id="categoria" required>
                                <option value="Botas">Botas</option>
                                <option value="Borcegos">Borcegos</option>
                                <option value="Texanas">Texanas</option>
                                <option value="Guillerminas">Guillerminas</option>
                                <option value="Bucaneras">Bucaneras</option>
                                <option value="Gift Card">Gift Card</option>
                            </select>


                        </div>

                    </div>

                    <div class="form-create__size">
                        <div class="form-create__size__title__div">
                            <label class="form-create__size__title" for="talles">Seleccione los talles</label>
                        </div>

                        <label class="form-create__size__check" for="35">
                            <input type="checkbox" name="talle" id="35" value="35">
                            35
                        </label>
                        <label class="form-create__size__check" for="36">
                            <input type="checkbox" name="talle" id="36" value="36">
                            36
                        </label>
                        <label class="form-create__size__check" for="37">
                            <input type="checkbox" name="talle" id="37" value="37">
                            37
                        </label>
                        <label class="form-create__size__check" for="38">
                            <input type="checkbox" name="talle" id="38" value="38">
                            38
                        </label>
                        <label class="form-create__size__check" for="39">
                            <input type="checkbox" name="talle" id="39" value="39">
                            39
                        </label>
                        <label class="form-create__size__check" for="40">
                            <input type="checkbox" name="talle" id="40" value="40">
                            40
                        </label>
                    </div>

                    <div class="contenedor_button">
                        <button class="form__button" type="submit">Borrar</button>
                        <button class="form__button" type="submit">Enviar</button>

                    </div>
                </form>


            </main>

            <%- include("../partials/footer") %>
    </body>

    </html>