<%- include("../partials/head") %>

    <body>
        <%- include("../partials/header") %>

            <!-- *****************************INICIO MAIN****************************************** -->

            <main>
                <h3 class="all-product-title" >Botas</h3>
                                           
                <section class="productos">
                          <% botas.forEach(product=> { %> 
                                <div class="produc"> 
                                    <%- include("../components/singleProduct",{product:product}) %> 
                                </div>
                            <% }) %>
                </section>
                            
                    
                   
                <h3 class="all-product-title" >TEXANAS</h3>
                    <div class="productos">                       
                       
                            <% texanas.forEach(product=> { %> 
                                <div class="produc"> 
                                    <%- include("../components/singleProduct",{product:product}) %> 
                                </div>
                            <% }) %>
                     
                    </div>
                   
                    <h3 class="all-product-title" >BUCANERAS</h3>
                    <div class="productos">                       
                       
                            <% bucaneras.forEach(product=> { %> 
                                <div class="produc"> 
                                    <%- include("../components/singleProduct",{product:product}) %> 
                                </div>
                            <% }) %>
                     
                    </div>

                    <h3 class="all-product-title" >BORCEGOS</h3>
                    <div class="productos">                       
                        
                            <% borcegos.forEach(product=> { %> 
                                <div class="produc"> 
                                    <%- include("../components/singleProduct",{product:product}) %> 
                                </div>
                            <% }) %>
                     
                    </div>

                    <h3>GUILLERMINAS</h3>
                    <div class="productos">                       
                       
                            <% guillerminas.forEach(product=> { %> 
                                <div class="produc"> 
                                    <%- include("../components/singleProduct",{product:product}) %> 
                                </div>
                            <% }) %>
                     
                    </div>

                    <h3>GIFT-CARD</h3>
                    <div class="productos">                       
                       
                            <% giftCard.forEach(product=> { %> 
                                <div class="produc"> 
                                    <%- include("../components/singleProduct",{product:product}) %> 
                                </div>
                            <% }) %>
                     
                    </div>
                    
                    
                                        <div class="news-letter">
                                            <h2>Suscribite a nuestro newsletter</h2>
                                            <form>
                                                <input type="email" placeholder="Ingresa tu e-mail">
                                                <button><i class="fa-solid fa-arrow-right"></i></button>
                                            </form>

                                        </div>

                                        <div class="help-button">
                                            <button><i class="fa-solid fa-circle-question"></i> Ayuda</button>
                                        </div>

            </main>

            <!-- ********************************FIN MAIN***************************************** -->
            <%- include("../partials/footer") %>
    </body>

    </html>