<%- include("../partials/head") %>

    <body>
        <%- include("../partials/header2") %>

            <!-- *****************************INICIO MAIN****************************************** -->

            <main>
                <h3 class="all-product-title">Botas</h3>
                

                <section class="productos">
                    <% productos.forEach(product=> { %>
                        <% if (product.categorias.name === "Botas" && product.status === "Enabled" ) { %>
                            <div class="produc">
                                <%- include("../components/listProduct",{product:product}) %>
                            </div>
                            <% } %>
                                <% }) %>
                </section>


                <h3 class="all-product-title">Botas</h3>


                <section class="productos">
                    <% productos.forEach(product=> { %>
                        <% if (product.categorias.name=== "Bucaneras" && product.status === "Enabled" ) { %>
                            <div class="produc">
                                <%- include("../components/listProduct",{product:product}) %>
                            </div>
                            <% } %>
                                <% }) %>
                </section>
                <h3 class="all-product-title">Texanas</h3>

                <section class="productos">
                    <% productos.forEach(product=> { %>
                        <% if (product.categorias.name==="Texanas" && product.status === "Enabled") { %>
                            <div class="produc">
                                <%- include("../components/listProduct",{product:product}) %>
                            </div>
                            <% } %>
                                <% }) %>
                </section>
                <h3 class="all-product-title">Guillerminas</h3>
                 
               
                <section class="productos">
                    <% productos.forEach(product=> { %>
                        <% if (product.categorias.name==="Guillerminas" && product.status === "Enabled") { %>
                            <div class="produc">
                                <%- include("../components/listProduct",{product:product}) %>
                            </div>
                            <% } %>
                                <% }) %>
                </section>

                <h3 class="all-product-title">Borcegos</h3>

                <section class="productos">
                    <% productos.forEach(product=> { %>
                        <% if (product.categorias.name==="Borcegos" && product.status === "Enabled") { %>
                            <div class="produc">
                                <%- include("../components/listProduct",{product:product}) %>
                            </div>
                            <% } %>
                                <% }) %>
                </section>
                <h3 class="all-product-title">Gift-Card</h3>
                <section class="productos">
                    <% productos.forEach(product=> { %>
                        <% if (product.categorias.name==="Gift-Card" && product.status === "Enabled") { %>
                            <div class="produc">
                                <%- include("../components/listProduct",{product:product}) %>
                            </div>
                            <% } %>
                                <% }) %>
                </section>



                <div class="news-letter">
                    <h2>Suscribite a nuestro newsletter</h2>
                    <form>
                        <input type="email" placeholder="Ingresa tu e-mail">
                        <button><i class="fa-solid fa-arrow-right"></i></button>
                    </form>

                </div>

                <div class="help-button">
                    <button><i class="fa-solid fa-circle-question"></i> Ayuda</button>
                </div>

            </main>

            <!-- ********************************FIN MAIN***************************************** -->
            <%- include("../partials/footer") %>
    </body>

    </html>