<%- include("../partials/head") %>

    <body>
        <%- include("../partials/header") %>

            <!-- *****************************INICIO MAIN****************************************** -->

            <main>


                
                   
                    <div class="productos">                       
                        <h3>BOTAS</h3>
                            <% botas.forEach(product=> { %> 
                                <!-- <div class="produc">  -->
                                    <section class="section-destacados">
                                    <a href="/detalle/<%= product.id %>">                                                                                                                                       
                                        <img src="/img/products/<%= product.image %>" alt="bota">                                   
                                        <p><%= product.name %></p>
                                        <p>$<%= product.price %></p>
                                        <p><a href="/detalle/<%= product.id %>" class="com-but-main"><button>COMPRAR</button></a></p>
                                        <i class="fa-solid fa-star"></i>                                                                                       
                                    </a>                                                        
                                    </section>
                                <!-- </div> -->
                            <% }) %>
                     
                    </div>

                    <div class="productos">                       
                        <h3>TEXANAS</h3>
                            <% texanas.forEach(product=> { %> 
                                <!-- <div class="produc">  -->
                                    <section class="section-destacados">
                                    <a href="/detalle/<%= product.id %>">                                                                                                                                       
                                        <img src="/img/products/<%= product.image %>" alt="bota">                                   
                                        <p><%= product.name %></p>
                                        <p>$<%= product.price %></p>
                                        <p><a href="/detalle/<%= product.id %>" class="com-but-main"><button>COMPRAR</button></a></p>
                                        <i class="fa-solid fa-star"></i>                                                                                       
                                    </a>                                                        
                                    </section>
                                <!-- </div> -->
                            <% }) %>
                     
                    </div>
                   

                    <div class="productos">                       
                        <h3>BUCANERAS</h3>
                            <% bucaneras.forEach(product=> { %> 
                                <!-- <div class="produc">  -->
                                    <section class="section-destacados">
                                    <a href="/detalle/<%= product.id %>">                                                                                                                                       
                                        <img src="/img/products/<%= product.image %>" alt="bota">                                   
                                        <p><%= product.name %></p>
                                        <p>$<%= product.price %></p>
                                        <p><a href="/detalle/<%= product.id %>" class="com-but-main"><button>COMPRAR</button></a></p>
                                        <i class="fa-solid fa-star"></i>                                                                                       
                                    </a>                                                        
                                    </section>
                                <!-- </div> -->
                            <% }) %>
                     
                    </div>

                    
                    <div class="productos">                       
                        <h3>BORCEGOS</h3>
                            <% borcegos.forEach(product=> { %> 
                                <!-- <div class="produc">  -->
                                    <section class="section-destacados">
                                    <a href="/detalle/<%= product.id %>">                                                                                                                                       
                                        <img src="/img/products/<%= product.image %>" alt="bota">                                   
                                        <p><%= product.name %></p>
                                        <p>$<%= product.price %></p>
                                        <p><a href="/detalle/<%= product.id %>" class="com-but-main"><button>COMPRAR</button></a></p>
                                        <i class="fa-solid fa-star"></i>                                                                                       
                                    </a>                                                        
                                    </section>
                                <!-- </div> -->
                            <% }) %>
                     
                    </div>

                    <div class="productos">                       
                        <h3>GUILLERMINAS</h3>
                            <% guillerminas.forEach(product=> { %> 
                                <!-- <div class="produc">  -->
                                    <section class="section-destacados">
                                    <a href="/detalle/<%= product.id %>">                                                                                                                                       
                                        <img src="/img/products/<%= product.image %>" alt="bota">                                   
                                        <p><%= product.name %></p>
                                        <p>$<%= product.price %></p>
                                        <p><a href="/detalle/<%= product.id %>" class="com-but-main"><button>COMPRAR</button></a></p>
                                        <i class="fa-solid fa-star"></i>                                                                                       
                                    </a>                                                        
                                    </section>
                                <!-- </div> -->
                            <% }) %>
                     
                    </div>

                    
                    <div class="productos">                       
                        <h3>GIFT-CARD</h3>
                            <% giftCard.forEach(product=> { %> 
                                <!-- <div class="produc">  -->
                                    <section class="section-destacados">
                                    <a href="/detalle/<%= product.id %>">                                                                                                                                       
                                        <img src="/img/products/<%= product.image %>" alt="bota">                                   
                                        <p><%= product.name %></p>
                                        <p>$<%= product.price %></p>
                                        <p><a href="/detalle/<%= product.id %>" class="com-but-main"><button>COMPRAR</button></a></p>
                                        <i class="fa-solid fa-star"></i>                                                                                       
                                    </a>                                                        
                                    </section>
                                <!-- </div> -->
                            <% }) %>
                     
                    </div>
                    
                    
                                        <div class="news-letter">
                                            <h2>Suscribite a nuestro newsletter</h2>
                                            <form>
                                                <input type="email" placeholder="Ingresa tu e-mail">
                                                <button><i class="fa-solid fa-arrow-right"></i></button>
                                            </form>

                                        </div>

                                        <div class="help-button">
                                            <button><i class="fa-solid fa-circle-question"></i> Ayuda</button>
                                        </div>

            </main>

            <!-- ********************************FIN MAIN***************************************** -->
            <%- include("../partials/footer") %>
    </body>

    </html>